//
//  Test.xcconfig
//  LodgeLink
//
//  Created by Dmytro Yurchenko on 2024-04-09.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.lodgelink.test
TARGET_NAME = LodgeLink Test
API_BASE_URL_DOMAIN = test-api.lodgelink.com
APP_BASE_URL_DOMAIN = test-app.lodgelink.com
LAUNCHSCREEN_NAME = Launch Screen Test
APP_ICON = AppIcon-Test
PROVISIONING_PROFILE_NAME = LL_Test_Distribution
VERSION = 1.13
BUILD_NUMBER = 1
